# Exclude compiled Python files
*.pyc
__pycache__/

# Exclude environment folders
env/
.env
.venv/
venv/

# Exclude IDE or editor configurations
.vscode/
.idea/

# Exclude logs and temporary files
*.log
*.tmp

# Exclude SQLite database and Flask instance folder
instance/
*.sqlite3

.gitattributes